*.*
!.gitignore
!*.sql
!*.txt
!*.r
!*.tex
!*.bib
!*.java
!*.c
!*.cpp
!*.glsl
!*.properties
!*.xml
!*.jpg
!*.jpeg
!*.tga
!*.gif
!*.png
!*.pdf
!*.obj
!*.json
*~
*.swp
data/
bin/
temp/
lib/
.settings/
.metadata/

